---
import { Category } from "../../entities/Category";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostList from "../../components/PostList.astro";

export async function getStaticPaths() {
  const allCategories = await Astro.glob<Category>(
    "../../../content/categories/*.md"
  );

  const paths = [];
  allCategories.forEach((category) => {
    paths.push({
      params: { slug: category.frontmatter.slug },
      props: {
        category,
      },
    });
  });
  return paths;
}

const { Content } = Astro.props.category;
const { title, slug } = Astro.props.category.frontmatter as Category;
---

<BaseLayout title={title}>
  <h1>{title}</h1>
  <Content />
  <PostList filter={{ category: slug }} />
</BaseLayout>
