---
import { Markdown } from "astro/components";
import { Category } from "../../entities/Category";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostList from "../../components/PostList.astro";

export async function getStaticPaths() {
  const allCategories = await Astro.fetchContent<Category>(
    "../../../content/categories/*.md"
  );

  const paths = [];
  allCategories.forEach((category) => {
    paths.push({
      params: { slug: category.slug },
      props: {
        category,
      },
    });
  });
  return paths;
}

const { title, slug, content } = Astro.props.category as Category;
---

<BaseLayout title={title}>
  <h1>{title}</h1>
  <Markdown content={content.source} />
  <PostList filter={{ category: slug }} />
</BaseLayout>
