---
import PostArchive from "../components/PostArchive.astro";
import Layout from "../layouts/Layout.astro";

const title = "Archivio post";
---

<Layout title={title}>
  <h1>{title}</h1>
  <PostArchive />
</Layout>
