---
import { Icon } from "astro-icon";
---

<header>
  <div class="wrapper">
    <a class="logo" href="/" title="Home Page">
      <Icon name="logo-landscape" />
    </a>
    <span class="spacer"></span>
  </div>
</header>

<style>
  header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .wrapper {
    display: flex;
    align-items: stretch;
    height: var(--header-height);
    padding-block: var(--space-3xs);
  }

  a {
    line-height: 1;
  }

  .logo svg {
    height: 100%;
  }
</style>
