---
import { CollectionEntry, getCollection } from "astro:content";
import PostList from "../../components/PostList.astro";
import Layout from "../../layouts/Layout.astro";

interface Props {
  tag: CollectionEntry<"tags">;
}

export async function getStaticPaths() {
  const tags = await getCollection("tags");
  return tags.map((tag) => ({
    params: { slug: tag.slug },
    props: { tag },
  }));
}

const { tag } = Astro.props;
const { Content } = await tag.render();
const title = tag.data.title;
---

<Layout title={title}>
  <h1>{title}</h1>
  <Content />
  <PostList filter={(post) => post.data.tags.includes(tag.slug)} />
</Layout>
