---
import { Tag } from "../../entities/Tag";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostList from "../../components/PostList.astro";

export async function getStaticPaths() {
  const allTags = await Astro.glob<Tag>("../../../content/tags/*.md");

  const paths = [];
  allTags.forEach((tag) => {
    paths.push({
      params: { slug: tag.frontmatter.slug },
      props: {
        tag,
      },
    });
  });
  return paths;
}

const { Content } = Astro.props.tag;
const { title, slug } = Astro.props.tag.frontmatter as Tag;
---

<BaseLayout {title}>
  <h1>{title}</h1>
  <Content />
  <PostList filter={{ tag: slug }} />
</BaseLayout>
